body{
    margin: 0px;
}


#logo{
    width: 150px;
}

#container{
    background-image: url(../assets/images/images.jpg);
    background-size: cover;
    height: 700px;
    padding: 40px;
}
#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
select{
    padding: 3px 7px;
    font-size: 16px;
    color: white;
    background-color: black;
}
#btn-entrar{
    padding: 4px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #e50914;
    margin: 15px;

}